<% provide(:title, 'About') %>
<!DOCTYPE html>
<h1>About Me</h1>
<p>
		In West Philadelphia, born and raised. On the playground is where I spent most of my days...
		<a href="http://www.nhl.com">Chillin' Out</a> maxin, relaxin all cool...
</p>
