<% provide(:title, 'Help') %>
<!DOCTYPE html>
<h1>Help</h1>
	<p>
		Get Help now! Help Yourself! Help someone else! Help someone help someone else! Just Get Help!
	<a href="http://www.youtube.com/watch?v=TU7JjJJZi1Q">HELP!</a>
</p>
